<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UsuariosDBEntities" connectionString="metadata=res://*/UsuariosModel.csdl|res://*/UsuariosModel.ssdl|res://*/UsuariosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESAWEB4\SQLEXPRESS;initial catalog=UsuariosDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>